* {
    box-sizing: border-box;
    margin: 0;
    color: var(--indigo);
}


html,
body {

    display: flex;
    flex-direction: column;
    align-items: center;
}

body {


    width: 100%;
    padding: 0 var(--bodyPadding);
    background-color: var(--main-bg-color);
    max-width: var(--maxBodyWidth);
}

.modal {
    background-color: #1f1f1f7c;
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 100%;
    top: 0;
    bottom: 0;
    position: fixed;
    overflow-y: auto;
    text-align: center;
  }
  
  .modalPanel {
    padding: 40px 46px;
    max-width: 800px;
    width: 90%;
  
    background: #f9f9f9;
    border-radius: 10px;
  }
  
  .modalPanel__header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .closeModal__btn {
    cursor: pointer;
    flex-shrink: 0;
    background-color: transparent;
    border-style: none;
    width: 50px;
    height: 50px;
  }
  
  .modalPanel form {
    gap: 28px;
    display: flex;
    flex-direction: column;
  }
  
  .modalPanel footer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  
  .hidden {
    display: none;
  }

  .mainCardsForm__form {

    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}


.mainCardsForm__form .selectable_card {
    border-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    width: 250px;
    border-radius: 25px;
    margin-top: 24px;
}

.mainCardsForm__form .selectable_card>img {

    width: 50%;

}

@media (max-width: 900px) {

    h1 {
        font-size: 36px;

        line-height: 36px;
    }

    p,
    h6 {
        font-size: 22px;

    }

}


@media (max-width: 500px) {

    h1 {
        font-size: 30px;
        line-height: 30px;
    }

    p,
    h6 {
        font-size: 18px;

    }

}